
.telaBasePai {
    margin-top: 16vh;
    animation: slideInTop 0.5s ease-out forwards;
}
 
 .telaBase {
    width: 90%;
    height: 80vh;
    max-width: 28rem;
    background-color: #d9d9d9;
    border-radius: 30px;
    margin: 10vh auto;

    display: flex;
    flex-direction: column;
}

.mensagensRecebidas {
    width: 100%;
    min-height: 45vh;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
}

.imgCao {
    display: flex;
    justify-content: center;
    margin-top: -5vh;
}

.ftCao{
    height: 12vh;
    width: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FD7C17;
    border-radius: 2rem 2rem 9rem 9rem;
    min-height: 5rem;
}

.input {
    width: 85%;
    max-width: 85%;
    min-height: 3vh;
    border-radius: 0.75rem;
    margin-right: 0.3rem;
}

.iconSend {
    background-color: #4691F2;
    width: 35px;
    height: 35px;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat-container{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.txtChat {
    display: flex;
}

.mensagemBot {
    background-color: #FD7C17;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    margin-right: auto;
    text-align: left;
    font-size: 0.9rem;
}

.mensagemUser {
    background-color: #4691F2;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    font-size: 0.9rem;
}

.action-button{
    color: white;
    background-color: #4691F2;
    border-radius: 20%;
    border: none;
    padding: 0.50rem;
    margin-left: 0.3rem;
    display: flex;
}

.button-container {
    display: flex;
}

.botaoIniciarPai{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

.botaoIniciar{
    color: white;
    background-color: #4691F2;
    border: none;
    border-radius: 20rem;
    line-height: 30px;
    padding: 0 35px;
}

/* Entrada do chatbot*/
@keyframes slideInTop {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(-20);
      opacity: 1;
    }
  }