
.pai {
    margin-top: 10vh;
}
 
 .telaBase {
    width: 90%;
    max-width: 28rem;
    min-height: 32rem;
    background-color: #d9d9d9;
    border-radius: 30px;
    margin: 5vh auto;
    position: relative; /* Adicionado para posicionamento relativo */
}

.mensagensRecebidas {
    width: 100%;
    min-height: 45vh;
    overflow-y: auto; /* Adicione scroll se necessário */
}

.imgcao {
    display: flex;
    justify-content: center;
    height: 12vh;
    max-height: 10vh;
    margin-top: -5vh;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FD7C17;
    border-radius: 2rem 2rem 9rem 9rem;
    min-height: 5rem;
}

/* .caixaTexto {
    display: flex;
    position: absolute;
    bottom: 2; /* Posiciona na parte inferior */
    /*width: 100%;
    max-width: 100%;
    padding: 0.5rem;
} */

.input {
    width: 85%;
    max-width: 85%;
    min-height: 3vh;
    border-radius: 0.75rem;
    margin-right: 0.3rem;
}

.iconSend {
    background-color: #4691F2;
    width: 35px; /* Ajuste para um tamanho fixo */
    height: 35px; /* Ajuste para um tamanho fixo */
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat-container{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.txtChat {
    display: flex;
}

.mensagemBot {
    background-color: #FD7C17;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    margin-right: auto;
    text-align: left;
    font-size: 0.9rem;
}

.mensagemUser {
    background-color: #4691F2;
    padding: 0.3rem;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    font-size: 0.9rem;
}

.action-button{
    color: white;
    background-color: #4691F2;
    border-radius: 20%;
    border: none;
    font-size: 1rem;
    padding: 0.60rem;
    margin-left: 0.3rem;
    
}

.button-container {
    display: flex;
}
